.logo-container {
  height: 100%;
  display: flex;
  width: 15vw;
  margin-top: 15px;
  float: right;
}
.logo {
  width: 30%;
}
.logo-headers  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo-headers  > * {
  margin: 0;
}