 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: .2s; */
}

*:hover { transition: .2s; }

.App {
  text-align: center;
}

.page {
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  align-items: center;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex { display: flex; }
.col { flex-direction: column; }

